.sales-table-container {
  height: auto;
  margin-bottom: 50px;
  padding: 30px 35px;
}

.sales-table-title {
  font-size: 18px;
  color: var(--light-color);
  margin-bottom: 25px;
}

.sales-table {
  width: 100%;
  border-spacing: 0;
}

.sales-table thead th {
  text-align: left;
  height: 55px;
  font-size: 16px;
}

.sales-table thead th:first-of-type {
  padding-left: 30px;
}

.sales-table tbody td {
  text-align: left;
  height: 55px;
  border-top: 1px solid var(--gray-light-75-color);
  font-size: 16px;
  transition: background 0.3s;
}
.sales-table tbody td:first-of-type {
  padding-left: 30px;
}

.sales-table tbody tr:hover > td {
  background-color: var(--gray-light-100-color);
}

.sales-table tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

.sales-table tbody tr:nth-child(even) {
  background-color: var(--primary-color);
}
